.header-form{
    height: 200px;
    padding: 20px 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    color: #34568B;
}
.logo-icon{
    width: 35px;
    height: 35px;
}
.button{
    border: 1px solid #34568B;
    border-radius: 30px;
    padding: 5px 20px;
    margin: auto 10px;
    cursor: pointer;
    color: #34568B;
}
.button:hover{
    background-color: #34568B;
    color: cornsilk;
}
/* 
.menu{

} */