.listhotel-container{
    padding: 20px 150px;
}
/* hotel-desc */
.hotel-container{
    display: flex;
    margin-top: 40px;
    width: 100%;
}
.img-hotel{
    width: 450px;
    height: 300px;
    border-radius: 15px;
    margin-right: 50px;
}
.hotel-desc{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.hotel-name{
    font-size: 23px;
    color: #34568B;
    font-weight: bold;
}
.hotel-tag{
    font-size: 15px;
    color: #34568B;
    text-decoration: underline;
    margin-top: 10px;
}
.hotel-sale{
    border: 1px solid #3e8dac;
    padding: 3px 5px;
    margin-top: 20px;
    background-color: #3e8dac;
    color: #fff;
    cursor: pointer;
    width: 250px;
    text-align: center;
}
.rate-area{
    display: flex;
    margin-bottom: 50px;
}
.rate-text-area{
    margin-right: 10px;
}
.rate-text{
    font-weight: bold;
}
.rate-number{
    border: 1px solid #3e8dac;
    padding: 3px 5px;
    background-color: #3e8dac;
    color: #fff;
    font-weight: bold;
}
.price-area{
    margin-bottom: 30px;
}
.price{
    font-size: 25px;
}
.btn-detail{
    border: 1px solid #34568B;
    padding: 5px 10px;
    background-color: #34568B;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
}
